<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="aba-dashboard-util.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/shortcuts-import.html">
<link rel="import" href="../the-grid/the-grid.html">
<link rel="import" href="../neon-animation/web-animations.html">
<link rel="import" href="lib/DashboardValidator.html">
<script type="text/javascript" src="../validator-js/validator.min.js"></script>

<link rel="import" href="abas-dummy-widget.html">

<dom-module id="aba-dashboard-viewer">
    <template>
        <style>
            .placeholder-error {
                width: 100%;
                height: 100%;
                @apply --abas-font-display1;
                text-shadow: 2px 2px #ffffff;
                color: #666;
                text-align: center;
                margin-top: 25%;
            }

            .placeholder-error .status {}

            .placeholder-error .message {
                font-size: medium;
            }

            .hidden {
                display: none;
            }

            :host {
                width: calc(100% - 12px) !important;
                height: calc(100% - 12px) !important;
                background: var(--abas-black-800);
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: inline-block;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 6px !important;
            }

            the-grid>div {
                opacity: 0.9;
                cursor: move;
                overflow: hidden;
                @apply --shadow-elevation-2dp;
            }

            the-grid>div[placeholder] {
                background: #afafaf;
            }

            the-grid [resize] {
                position: absolute;
                line-height: .5em;
            }

            the-grid [resize="bottom-right"] {
                bottom: 0;
                right: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="bottom-left"] {
                bottom: 0;
                left: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-right"] {
                top: 0;
                right: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-left"] {
                top: 0;
                left: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="left"] {
                top: 50%;
                left: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="top"] {
                top: 0%;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            the-grid [resize="right"] {
                top: 50%;
                right: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="bottom"] {
                bottom: 0;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            #editButton {
                position: absolute;
                bottom: 15px;
                right: 15px;
            }

            paper-dialog {
                background-color: white;
                padding: 1rem;
            }

            paper-dialog-scrollable {
                width: 200px;
            }

            paper-dialog>[icon="close"] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
            }

            @keyframes placeHolderShimmer {
                0% {
                    background-position: -700px 0
                }
            }

            div.placeholder {
                background: var(--loading-placeholder-color-1, #E0E0E0);
                /* animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-name: placeHolderShimmer;
                animation-timing-function: linear;
                background: var(--loading-placeholder-color-1, #E0E0E0);
                background: linear-gradient(to right, var(--loading-placeholder-color-1, #E0E0E0) 8%, var(--loading-placeholder-color-2, #C0C0C0) 18%, var(--loading-placeholder-color-1, #E0E0E0) 33%);
                background-size: 1400px 140px;
                display: grid;
                align-items: center;
                justify-items: center;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: 18px;
                font-weight: 400;
                color: var(--abas-black-300, black); */
            }

            :host(.desktopSmall) {
                width: 1500px;
                position: absolute;
                top: 64px;
            }

            :host(.tabletPortrait) {
                width: 768px;
                height: 1024px;
                position: absolute;
                top: 64px;
            }

            :host(.tabletLandscape) {
                width: 1024px;
                height: 768px;
                position: absolute;
                top: 64px;
            }

            :host(.smartphonePortrait) {
                width: 360px;
                height: 640px;
                position: absolute;
                top: 64px;
            }

            :host(.smartphoneLandscape) {
                width: 640px;
                height: 360px;
                position: absolute;
                top: 64px;
            }
        </style>
        <the-grid overlappable="[[_FALSE]]" col-count="[[_colCount]]" row-count="{{_rowCount}}" row-autogrow
            cell-margin="[[_cellMargin]]" cell-height="[[_cellSizeHeight]]" cell-width="[[_cellSizeWidth]]"
            max-width="[[_colCount]]">
            <slot></slot>
            <div placeholder></div>
        </the-grid>
    </template>
    <script>
        /**
         * 'aba-dashboard' provides a layout engine for Dashboards
         * @customElement
         * @polymer
         * @appliesMixin ABAS.abaDashboardUtil
         * @memberof ABAS
         * @demo demo/playground.html Playground
         * @demo demo/test.html test
         * @demo demo/production-board.html Production Board
         */
        class AbaDashboardViewer extends ABAS.abaDashboardUtil(Polymer.Element) {

            constructor() {
                super();
                this.widgetNodes = {};
                this._history = [];
                this._future = [];
                this._widgetLibrary = [];
                this._rowCount = 6;

                this._cellMargin = 5;
                this._cellSizeHeight = 30;
                this._cellSizeWidth = 30;
                this._FALSE = false;
                this._dashboardValidator = new DashboardValidator();

                this._boundResize = this._resize.bind(this);
                this._boundRemoveAllWidgets = this.removeAllWidgets.bind(this);
                this.debug = true;
                this.LOG = (message) => {
                    if (this.debug) {
                        console.log(message)
                    }
                }
            }

            // static get
            static get is() {
                return 'aba-dashboard-viewer';
            }

            static get observers() {
                return [
                    '_resize(width, height)',
                    '_widgetsChanged(widgets.splices)'
                ];
            }

            // getters
            get grid() {
                if (!this._grid) {
                    this._grid = this.shadowRoot.querySelector('the-grid');
                }
                return this._grid;
            }

            get dashboardValidator() {
                return this._dashboardValidator;
            }

            // setters
            getWidgetNode(id) {
                if (!validator.isUUID(id + '')) {
                    throw new Error('Given id is not valid');
                }
                return this.widgetNodes[id];
            }

            static get properties() {
                return {
                    _colCount: {
                        type: Number,
                        value: 12
                    },
                    /**
                     * The height of a row
                     * if 0 it will be computed base on the height of the dashboard rectangle
                     */
                    rowHeight: {
                        type: Number,
                        value: 0
                    },
                    /**
                     * The id of the Dashboard
                     */
                    id: {
                        type: String,
                        notify: true
                    },
                    /**
                     * The URL from where to load the dashboard
                     */
                    url: {
                        type: String,
                        observer: '_loadBoard'
                    },
                    /**
                     * The current Widgets of the Dashboard
                     */
                    widgets: {
                        type: Array,
                        value: []
                    },

                    widgetNodes: {
                        type: Object
                    },
                    /**
                     * The title of the dashboard
                     */
                    title: {
                        type: String,
                        notify: true
                    },
                    /**
                     * True  -> Dashboard can be edited
                     * False -> Dashboard is fixed
                     */
                    editMode: {
                        type: Boolean,
                        value: false
                    },
                    /**
                     * Width of the dashboard in pixel default to the size it has 
                     */
                    width: {
                        type: Number
                    },
                    /**
                     * Height of the dashboard in pixel default to the size it has 
                     */
                    height: {
                        type: Number
                    },
                    screenType: {
                        type: Object // current
                    },
                    /* OLD SHAPES
                     The abstract screen measure
                     xl -> above 1600px - PC
                     l -> lower 1600px and above 1280px
                     m -> lower 1280px and above 960px
                     s -> lower 960px above 480px
                     xs -> lower 480px
                     'l': 12,
                     'm': 9,
                     's': 6,
                     'xs': 3
                     'xl': 12,
                    */
                    screenTypes: {
                        type: Array,
                        value: [{
                            name: 'l',
                            colCount: 48,
                            lowerThreshold: 1200 // horizontal space in pixel.
                        }, {
                            name: 'm',
                            colCount: 24,
                            lowerThreshold: 720
                        }, {
                            name: 's',
                            colCount: 12,
                            lowerThreshold: 0
                        }]
                    }
                }
            }

            _nodeIsWidget(node) {
                return !!node.shadowRoot && !!node.shadowRoot.querySelector('aba-widget');
            }

            connectedCallback() {
                super.connectedCallback();
                // initally set screenType
                // let currentWidth = this._getWidth();
                let newScreenType = this._selectScreenType()
                this.set('screenType', newScreenType);
                // this.LOG(this.screenType)

                window.addEventListener('resize', this._boundResize);
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('resize', this._boundResize);
                window.removeEventListener('remove-all-widgets', this._boundRemoveAllWidgets);
            }


            //PUBLIC

            /**
             * Switch mode to View
             */
            goToViewMode() {
                const editMode = new CustomEvent('edit-mode', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        editMode: false,
                        dashboard: this.id
                    }
                });
                this.dispatchEvent(editMode);
                this.set('editMode', false);
                shortcut.remove("Ctrl+V");
            }

            /**
             * Export the Dashboard
             * @returns {Object} Dashboard
             */
            export() {
                return {
                    "id": this.id,
                    "title": this.title,
                    "widgets": this.widgets
                }
            }

            /**
             * Import a deep copy of supplied dashboard
             * @param {Object} dashboard A Dashboard
             * @param {Object[]} dashboard.widgets Widgets
             * @param {String} dashboard.id ID
             * @param {String} dashboard.title Title
             */
            import(dashboard) {

                // Validate the dashboard to import
                // throw error if not valid
                let validationResult = this.dashboardValidator.validateDashboard(dashboard)
                if (!validationResult.valid) {
                    throw new Error(validationResult.error);
                }

                // Post validation
                // setup this component with the new dashboard
                // Decouple references with other sub systems
                let board2import = JSON.parse(JSON.stringify(dashboard));
                // upgrade widgets on the fly
                let widgets = this.upgradeWidgets(dashboard.widgets);
                for (let node in this.widgetNodes) {
                    this.widgetNodes[node].remove();
                    delete this.widgetNodes[node];
                }
                // Setup component
                this.set('widgets', widgets);
                this.set('title', board2import.title);
                this.set('id', board2import.id);

                this.setupBoardToViewport();
            }

            /**
             * Copy the input widgets and to upgrade them
             * This function checks the widget library for newer versions.
             * If a newer widget version was found the function will
             * merge the widget attributes.
             * New attributes will be added while existing attributes and their
             * earlier configured values stay untouched.
             * The input widgets stay untouched.
             *
             * @return an array of all widgets
             *
             * Check if upgrading makes sense in webUI, editor and CLI scenario.
             */
            upgradeWidgets(widgets) {
                let out = [];
                widgets.forEach(dbWidget => {
                    let libWidget = this._widgetLibrary.find((widget) => {
                        return widget.name === dbWidget.name
                    });
                    if (libWidget) {
                        let currentVersion = dbWidget.version || '0'
                        let libVersion = libWidget.version || '0'
                        if (libVersion > currentVersion) {
                            // Upgrade. copy new attribute but do not overwrite the old ones
                            let mergedAttr = Object.assign({}, libWidget.attr, dbWidget.attr);
                            dbWidget.attr = mergedAttr;
                            // Overwrite widget version
                            dbWidget.version = libWidget.version
                        }
                    }
                    out.push(dbWidget);
                });
                return out;
            }

            //PRIVATE
            async _render(widget) {
                //Create HTML Node
                let widgetNode = document.createElement(widget.name);
                this._setAttributes(widgetNode, widget);
                try {
                    widgetNode.set('editMode', this.editMode);
                } catch (error) {
                    console.log("Error setting editMode", error);
                    widgetNode.setAttribute("editMode", this.editMode);
                }
                this.widgetNodes[widget.id] = widgetNode;

                return {
                    widget: widget,
                    node: widgetNode
                }
            }

            /**
             * Render and import a widget
             * @param {Object} Widget
             *
             * @event aba-dashboard-widget-import-error
             */
            async _renderWidget(widget) {
                return new Promise((resolve, reject) => {
                    if (!!customElements.get(widget.name) || !widget.path) {
                        // widget sourcecode was already loaded
                        resolve(this._render(widget));
                    } else {
                        // if not (= first loading, empty cache, ...)
                        // -> import it and then render it
                        Polymer.importHref(widget.path, () => {
                            resolve(this._render(widget));
                        }, (error) => {
                            console.log(`Cannot import widget ${widget.name}. Path ${widget.path}.`)
                            console.log(`Replacing with dummy widget...`)
                            let dummyWidget = Object.assign({}, widget);
                            dummyWidget.originalWidget = widget;
                            dummyWidget.path = "bower_components/aba-dashboard/abas-dummy-widget.html";
                            dummyWidget.name = "abas-dummy-widget";
                            resolve(this._render(dummyWidget));

                            // let importError = new CustomEvent(
                            //     'aba-dashboard-widget-import-error', {
                            //     bubbles: true,
                            //     composed: true
                            // });
                            // this.dispatchEvent(importError);
                            //reject(new ReferenceError(`Cannot import widget ${widget.name}`));
                        }, false);
                    }
                });
            }

            _selectScreenType() {
                let availableWidth = this._getWidth();

                // Since this.screenTypes is ordered from wide to narrow
                // and Array.find finds first fit this will return best fit
                let bestFit = this.screenTypes.find(st => {
                    return st.lowerThreshold <= availableWidth
                })

                if (!bestFit) {
                    this.LOG('suitable screentype count not found.')
                    return this.screenTypes[0]
                }

                //this.LOG(`current screen type is ${bestFit.name}`)
                return bestFit
            }

            /**
             * Remove All Widgets from Dashboard
             */
            removeAllWidgets() {
                this.splice('widgets', 0, this.widgets.length);
            }

            _updateGridRowCount() {
                let rowCount = 1;

                this.widgets.forEach(widget => {
                    rowCount = Math.max(rowCount, (widget.shape[this.screenType.name].row + widget.shape[this.screenType.name].height))
                });

                this.set('_rowCount', rowCount);
            }

            //OBSERVERS

            /**
             * Add or Remove widgets
             */
            _widgetsChanged(changeRecords) {
                if (typeof changeRecords === 'undefined' && this.widgets && this.widgets.length > 0) {
                    try {
                        this.grid.style.visibility = 'hidden';
                        this._makePlaceHolders(); 
                    } catch(e) {
                        //shit happens
                    }
                    /**
                     * Initial board loading
                     */
                    let promises = [];
                    this.widgets.forEach(widget => {
                        promises.push(this._renderWidget(widget).then((renderResult) => {
                            this.grid.querySelector(`#placeholder-${renderResult.widget.id}`).remove()
                            this.grid.appendChild(renderResult.node)
                        }).catch((error) => {
                            console.log("Ohoh. Something went really really wrong.", error)
                            let placeholder = this.grid.querySelector(`#placeholder-${widget.id}`)
                            if (!placeholder) { return; }
                            placeholder.innerHTML = `
                                <div class="placeholder-error">
                                    <div class="status">404</div>
                                    <div class="message">This widget is not part of your collection</div>
                                </div>
                            `
                        }));
                    });
                    Promise.all(promises).finally(() => {
                        // It works without 'next tick'; it does but with it the rendering of the dashb is smoother
                        Polymer.RenderStatus.afterNextRender(this, () => {
                            this.grid.computeStyles()
                            this.grid.style.visibility = 'visible';
                            // Tell the world that everything is ready
                            let renderedEvent = new CustomEvent('abas-dashboard-rendered', { composed: true, bubbles: true })
                            this.dispatchEvent(renderedEvent)
                        })
                    });

                } else if (changeRecords !== undefined && typeof changeRecords.indexSplices !== 'undefined') {
                    // branch acts when widgets are added or removed
                    this._updateGridRowCount();

                    changeRecords.indexSplices.forEach((changeRecord, index) => {
                        // console.log(`[Change ${index}] ${changeRecord.addedCount} additions, ${changeRecord.removed.length} deletions`);
                        // handle removed items
                        changeRecord.removed.forEach(widget => {
                            var widgetNode = this.getWidgetNode(widget.id);
                            if (!widgetNode) {
                                return
                            }
                            //Remove calls destructor of widget
                            Polymer.RenderStatus.afterNextRender(this, () => {
                                widgetNode.remove();
                            });
                        })
                        // handle additions
                        let added = [];
                        for (var i = 0; i < changeRecord.addedCount; i++) {
                            var index = changeRecord.index + i;
                            added.push(this._renderWidget(changeRecord.object[index]).then((renderResult) => {
                                this.grid.appendChild(renderResult.node)
                                return true
                            }));
                        }
                        Promise.all(added).then((renderOk) => {
                            this.grid.computeStyles();
                        });
                    });
                }
            }

            _resize(_resizeEvent) {
                //this.setupBoardToViewport();
            }

            _arrangeWidgetForCurrentShape(widget) {
                return new Promise(resolve => {
                    let shape = this._selectWidgetShape(widget, this.screenType);
                    //if no shape or does not fit on dashb
                    if (!this._shapesExist([widget], this.screenType) || shape.col + shape.width > this._colCount) {
                        //get shapes but not the ones trying to place
                        let shapesForSize = this.widgets.slice(0, i).map(w => {
                            return w['shape'][this.screenType.name];
                        });
                        let shape = this._selectWidgetShape(widget, this.screenType);
                        widget.shape[this.screenType.name] = Object.assign({}, {
                            height: shape.height,
                            width: shape.width
                        });
                        shape = widget.shape[this.screenType.name];
                    }

                    widget.col = shape.col;
                    widget.row = shape.row;
                    widget.width = shape.width;
                    widget.height = shape.height;
                    widget.screenSize = this.screenType.name
                    // apply changes to the widget node
                    let widgetNode = this.getWidgetNode(widget.id);
                    //TODO here is something strange
                    // if (widgetNode !== undefined) {
                    this._setAttributes(widgetNode, widget);
                    resolve();
                    // }
                })
            }

            setupBoardToViewport(secondRun = false) {
                //this.LOG('setupBoardToViewport');
                let newScreenType = this._selectScreenType();
                this.set('screenType', newScreenType);
                this.set('_colCount', newScreenType.colCount);
                let width = this.clientWidth - 12; /*padding aba-dashboard*/;
                let cellWid = (width - ((this._colCount - 1 /*cell margin is only between widgets*/) * this._cellMargin)) / this._colCount;
                this.set('_cellSizeWidth', cellWid);
                this.set('_cellSizeHeight', cellWid);
                let arraged = [];
                this.widgets.forEach(widget => {
                    arraged.push(this._arrangeWidgetForCurrentShape(widget))
                });
                Promise.all(arraged).then(() => {
                    this._updateGridRowCount();
                    this.grid.computeStyles();
                })
            }

            /**
             * load a board description from an url and import that descritpion
             * on recieve
             */
            _loadBoard(url) {
                return fetch(url, {
                    credentials: 'include'
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Fetching board description failed')
                    }
                    return response.json()
                }).then(data => {
                    this.import(data)
                }).catch(error => {
                    throw new Error('Fetching board description failed with exception ' + error)
                });
            }

            _getWidth() {
                let width = this.getBoundingClientRect().width;
                width = width > screen.availWidth || width == 0 ? screen.availWidth : width;
                return width;
            }
            _getHeight() {
                let height = this.getBoundingClientRect().height;
                height = height > screen.availHeight || height == 0 ? screen.availHeight : height;
                return height;
            }

            _makePlaceHolders() {
                // Clean/Remove placeholders currently displayed
                this.shadowRoot.querySelectorAll('.placeholder').forEach(p => {
                    p.remove();
                })

                // test if possible
                if (!this._shapesExist(this.widgets, this.screenType)) {
                    this.LOG('cannot do placeholders if shapes do not exist')
                    return [];
                }

                let placeHolders = [];
                this.widgets.forEach(widget => {
                    let div = document.createElement('div');
                    div.classList.add('tile');
                    div.classList.add('placeholder');
                    let shape = this._selectWidgetShape(widget);
                    div.setAttribute('row', shape.row);
                    div.setAttribute('col', shape.col);
                    div.setAttribute('height', shape.height);
                    div.setAttribute('width', shape.width);
                    div.setAttribute('id', `placeholder-${widget.id}`);
                    placeHolders.push(div);

                    this.grid.appendChild(div)
                });

                return placeHolders;
            }

            /**
             * todo check if widgets meet standart???
             * 
             * Return widget shape for current screenType 
             */
            _selectWidgetShape(widget) {
                try {
                    let typeName = this.screenType.name
                    return {
                        width: widget.shape[typeName].width,
                        height: widget.shape[typeName].height,
                        col: widget.shape[typeName].col,
                        row: widget.shape[typeName].row
                    }
                } catch (e) {
                    return {}
                }
            }

            _shapesExist(widgets, screenType) {
                let widgetWithoutShapeIndex = widgets.findIndex((w) => {
                    return typeof w.shape[screenType.name] === 'undefined' ||
                        typeof w.shape[screenType.name].width === 'undefined' ||
                        typeof w.shape[screenType.name].height === 'undefined' ||
                        typeof w.shape[screenType.name].col === 'undefined' ||
                        typeof w.shape[screenType.name].row === 'undefined';
                })
                return (widgetWithoutShapeIndex < 0)
            }

            noHeaderMode() {
                //just a temporary solution until the feedback is completely removed from aba-dashboard
                return window.location.pathname.endsWith("no-header/") ? true : false;
            }
        }
        customElements.define(AbaDashboardViewer.is, AbaDashboardViewer);
    </script>
</dom-module>