<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/import-href.html">
<link rel="import" href="../polymer/lib/utils/render-status.html">
<link rel="import" href="aba-dashboard-util.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/shortcuts-import.html">

<link rel="import" href="../the-grid/the-grid.html" defer>
<link rel="import" href="../paper-dialog/paper-dialog.html" defer>
<link rel="import" href="../paper-icon-button/paper-icon-button.html" defer>
<link rel="import" href="../iron-icons/iron-icons.html" defer>
<link rel="import" href="../abas-styles/abas-styles.html" defer>
<link rel="import" href="../paper-button/paper-button.html" defer>
<link rel="import" href="../paper-input/paper-input.html" defer>
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html" defer>
<link rel="import" href="../paper-spinner/paper-spinner.html" defer>
<link rel="import" href="../neon-animation/web-animations.html">
<script type="application/javascript" src="lib/MatrixManager.js"></script>
<link rel="import" href="lib/DashboardValidator.html">

<link rel="import" href="abas-dummy-widget.html">

<dom-module id="aba-dashboard">
    <template>
        <style>
            .placeholder-error {
                width: 100%;
                height: 100%;
                @apply --abas-font-display1;
                text-shadow: 2px 2px #ffffff;
                color: #666;
                text-align: center;
                margin-top: 25%;
            }

            .placeholder-error .status {}

            .placeholder-error .message {
                font-size: medium;
            }

            .hidden {
                display: none;
            }

            :host {
                width: calc(100% - 12px) !important;
                height: calc(100% - 12px) !important;
                background: var(--abas-black-800);
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: inline-block;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 6px !important;
            }

            the-grid>div {
                opacity: 0.9;
                cursor: move;
                overflow: hidden;
                @apply --shadow-elevation-2dp;
            }

            the-grid>div[placeholder] {
                background: #afafaf;
            }

            the-grid [resize] {
                position: absolute;
                line-height: .5em;
            }

            the-grid [resize="bottom-right"] {
                bottom: 0;
                right: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="bottom-left"] {
                bottom: 0;
                left: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-right"] {
                top: 0;
                right: 0;
                cursor: nesw-resize;
            }

            the-grid [resize="top-left"] {
                top: 0;
                left: 0;
                cursor: nwse-resize;
            }

            the-grid [resize="left"] {
                top: 50%;
                left: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="top"] {
                top: 0%;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            the-grid [resize="right"] {
                top: 50%;
                right: 0;
                cursor: ew-resize;
                margin-top: -10px;
            }

            the-grid [resize="bottom"] {
                bottom: 0;
                width: 100%;
                text-align: center;
                cursor: ns-resize;
            }

            #editButton {
                position: absolute;
                bottom: 15px;
                right: 15px;
            }

            paper-dialog {
                background-color: white;
                padding: 1rem;
            }

            paper-dialog-scrollable {
                width: 200px;
            }

            paper-dialog>[icon="close"] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
            }

            @keyframes placeHolderShimmer {
                0% {
                    background-position: -700px 0
                }
            }

            div.placeholder {
                background: var(--loading-placeholder-color-1, #E0E0E0);
                /* animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-name: placeHolderShimmer;
                animation-timing-function: linear;
                background: var(--loading-placeholder-color-1, #E0E0E0);
                background: linear-gradient(to right, var(--loading-placeholder-color-1, #E0E0E0) 8%, var(--loading-placeholder-color-2, #C0C0C0) 18%, var(--loading-placeholder-color-1, #E0E0E0) 33%);
                background-size: 1400px 140px;
                display: grid;
                align-items: center;
                justify-items: center;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: 18px;
                font-weight: 400;
                color: var(--abas-black-300, black); */
            }

            :host(.desktopSmall) {
                width: 1500px;
                position: absolute;
                top: 64px;
            }

            :host(.tabletPortrait) {
                width: 768px;
                height: 1024px;
                position: absolute;
                top: 64px;
            }

            :host(.tabletLandscape) {
                width: 1024px;
                height: 768px;
                position: absolute;
                top: 64px;
            }

            :host(.smartphonePortrait) {
                width: 360px;
                height: 640px;
                position: absolute;
                top: 64px;
            }

            :host(.smartphoneLandscape) {
                width: 640px;
                height: 360px;
                position: absolute;
                top: 64px;
            }

            paper-spinner {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        </style>
        <paper-spinner id="spinner" class="mountain-meadow" active></paper-spinner>
        <the-grid draggable resizable overlappable="[[_FALSE]]" col-count="[[_colCount]]" row-count="{{_rowCount}}"
            row-autogrow cell-margin="[[_cellMargin]]" cell-height="[[_cellSizeHeight]]" cell-width="[[_cellSizeWidth]]"
            max-width="[[_colCount]]" on-initialized="_gridInitialized" on-move="_tileMove" on-resize="_tileResize">
            <slot></slot>
            <div placeholder></div>
        </the-grid>
    </template>
    <script>
        /**
         * 'aba-dashboard' provides a layout engine for Dashboards
         * @customElement
         * @polymer
         * @appliesMixin ABAS.abaDashboardUtil
         * @memberof ABAS
         * @demo demo/playground.html Playground
         * @demo demo/test.html test
         * @demo demo/production-board.html Production Board
         */
        class AbaDashboard extends ABAS.abaDashboardUtil(Polymer.Element) {

            constructor() {
                super();
                this.widgetNodes = {};
                this._history = [];
                this._future = [];
                this._widgetLibrary = [];
                this._rowCount = 6;

                this._cellMargin = 5;
                this._cellSizeHeight = 30;
                this._cellSizeWidth = 30;
                this._FALSE = false;
                this._matrixManager = new MatrixManager();
                this._dashboardValidator = new DashboardValidator();

                this._boundResize = this._resize.bind(this);
                this._boundAddWidget = this._addWidgetListener.bind(this);
                this._boundRemoveWidget = this._removeWidgetListener.bind(this);
                this._boundRemoveAllWidgets = this.removeAllWidgets.bind(this);
                this._boundWidgetAttributeUpdate = this._widgetAttributeUpdate.bind(this);
                this._boundCloneWidget = this._clone.bind(this);
                this._boundCopyWidget = this._copy.bind(this);
                this._boundPasteWidget = this._paste.bind(this);
                this._boundSetEditMode = this._setEditMode.bind(this);
                this.debug = true;
                this.LOG = (message) => {
                    if (this.debug) {
                        console.log(message)
                    }
                }
            }

            // static get
            static get is() {
                return 'aba-dashboard';
            }

            static get observers() {
                return [
                    '_screenTypeChanged(screenType)',
                    '_resize(width, height)',
                    '_widgetsChanged(widgets.splices)'
                    // '_setCellSize(_width, _rowCount, _colCount)'
                ];
            }

            _screenTypeChanged(screenType) {
                // debugger
            }

            // getters
            get grid() {
                if (!this._grid) {
                    this._grid = this.shadowRoot.querySelector('the-grid');
                }
                return this._grid;
            }

            get matrixManager() {
                return this._matrixManager;
            }

            get dashboardValidator() {
                return this._dashboardValidator;
            }

            // setters
            getWidgetNode(id) {
                if (!validator.isUUID(id + '')) {
                    throw new Error('Given id is not valid');
                }
                return this.widgetNodes[id];
            }

            static get properties() {
                return {
                    _colCount: {
                        type: Number,
                        value: 12
                    },
                    /**
                     * The height of a row
                     * if 0 it will be computed base on the height of the dashboard rectangle
                     */
                    rowHeight: {
                        type: Number,
                        value: 0
                    },
                    /**
                     * The id of the Dashboard
                     */
                    id: {
                        type: String,
                        notify: true
                    },
                    /**
                     * The URL from where to load the dashboard
                     */
                    url: {
                        type: String,
                        observer: '_loadBoard'
                    },
                    /**
                     * The current Widgets of the Dashboard
                     */
                    widgets: {
                        type: Array,
                        value: []
                    },

                    widgetNodes: {
                        type: Object
                    },
                    /**
                     * The title of the dashboard
                     */
                    title: {
                        type: String,
                        notify: true
                    },
                    /**
                     * True  -> Dashboard can be edited
                     * False -> Dashboard is fixed
                     */
                    editMode: {
                        type: Boolean,
                        value: false,
                        observer: '_displayModeChanged',
                        notify: true
                    },
                    /**
                     * Width of the dashboard in pixel default to the size it has 
                     */
                    width: {
                        type: Number
                    },
                    /**
                     * Height of the dashboard in pixel default to the size it has 
                     */
                    height: {
                        type: Number
                    },
                    screenType: {
                        type: Object // current
                    },
                    /* OLD SHAPES
                     The abstract screen measure
                     xl -> above 1600px - PC
                     l -> lower 1600px and above 1280px
                     m -> lower 1280px and above 960px
                     s -> lower 960px above 480px
                     xs -> lower 480px
                     'l': 12,
                     'm': 9,
                     's': 6,
                     'xs': 3
                     'xl': 12,
                    */
                    screenTypes: {
                        type: Array,
                        value: [{
                            name: 'l',
                            colCount: 48,
                            lowerThreshold: 1200 // horizontal space in pixel.
                        }, {
                            name: 'm',
                            colCount: 24,
                            lowerThreshold: 720
                        }, {
                            name: 's',
                            colCount: 12,
                            lowerThreshold: 0
                        }]
                    }
                }
            }

            //LIFECYCLE
            ready() {
                super.ready();
                this.goToViewMode();
            }

            _nodeIsWidget(node) {
                return !!node.shadowRoot && !!node.shadowRoot.querySelector('aba-widget');
            }

            connectedCallback() {
                super.connectedCallback();
                // initally set screenType
                // let currentWidth = this._getWidth();
                let newScreenType = this._selectScreenType()
                this.set('screenType', newScreenType);
                // this.LOG(this.screenType)

                Polymer.RenderStatus.afterNextRender(this, () => {
                    //Recalculate dashboard when browser is resized
                    window.addEventListener('resize', this._boundResize);
                    //Add specified widget when 'add-widget' received
                    window.addEventListener('add-widget', this._boundAddWidget);
                    //Remove specified widget when 'remove-widget' received
                    window.addEventListener('remove-widget', this._boundRemoveWidget);
                    window.addEventListener('remove-all-widgets', this._boundRemoveAllWidgets);
                    window.addEventListener('set-edit-mode', this._boundSetEditMode);
                    this.addEventListener('update-attributes', this._boundWidgetAttributeUpdate);
                    this.addEventListener('clone-widget', this._boundCloneWidget);
                    this.addEventListener('copy-widget', this._boundCopyWidget);
                });
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('resize', this._boundResize);
                window.removeEventListener('add-widget', this._boundAddWidget);
                window.removeEventListener('remove-widget', this._boundRemoveWidget);
                window.removeEventListener('remove-all-widgets', this._boundRemoveAllWidgets);
                window.removeEventListener('set-edit-mode', this._boundSetEditMode);
                this.removeEventListener('update-attributes', this._boundWidgetAttributeUpdate);
                this.removeEventListener('clone-widget', this._boundCloneWidget);
                this.removeEventListener('copy-widget', this._boundCopyWidget);
            }

            //EVENT LISTENERS
            _addWidgetListener(event) {
                this.addWidget(event.detail.widget)
            }

            _removeWidgetListener(event) {
                this.removeWidget(event.detail.id);
            }

            _gridInitialized(event) { }

            _setEditMode(event) {
                this.set('editMode', event.detail.editMode);
            }

            _widgetAttributeUpdate(event) {
                this._addtoHistory({
                    type: 'attributeUpdate',
                    widgetID: event.detail.widgetID,
                    attributes: event.detail.attributes,
                    oldAttributes: event.detail.oldAttributes
                });
            }

            _tileMove(event) {
                var tile = event.detail.tile;
                if (!(tile instanceof HTMLElement)) {
                    throw new Error('Tile not instance of HTMLElement');
                }
                // Find index of referenced widget model in the widgets array
                var widgetIndex = this.widgets.findIndex((widget, index) => {
                    return widget.id === tile.id
                });

                //Widget is not part of this Dashboard
                if (widgetIndex === -1) {
                    throw new Error('widget not found')
                }

                //Get the moved Widget
                var widget = this.widgets[widgetIndex];
                let newCol = Number.parseInt(tile.getAttribute('col'), 10);
                let newRow = Number.parseInt(tile.getAttribute('row'), 10);
                let newWidth = Number.parseInt(tile.getAttribute('width'), 10);
                let newHeight = Number.parseInt(tile.getAttribute('height'), 10);

                let fromPosition = {
                    width: widget.width,
                    height: widget.height,
                    col: widget.col,
                    row: widget.row
                };

                //Set its new position for the grid
                widget.col = newCol
                widget.row = newRow;
                widget.width = newWidth;
                widget.height = newHeight;
                widget.shape = widget.shape || {};

                // store shape to widgets
                widget.shape[this.screenType.name] = {
                    col: newCol,
                    row: newRow,
                    width: newWidth,
                    height: newHeight
                };

                //add change to history
                this._addtoHistory(Object.assign({}, {
                    type: 'move',
                    widget: widget.id,
                    from: fromPosition,
                    to: {
                        width: newWidth,
                        height: newHeight,
                        col: newCol,
                        row: newRow
                    }
                }));
                this.setupBoardToViewport();
            }

            _tileResize(event) {
                var tile = event.detail.tile;
                if (!(tile instanceof HTMLElement)) {
                    throw new Error('Tile not instance of HTMLElement');
                }
                // Find index of referenced widget model in the widgets array
                var widgetIndex = this.widgets.findIndex((widget, index) => {
                    return widget.id === tile.id
                });

                //Widget is not part of this Dashboard
                if (widgetIndex === -1) {
                    throw new Error('widget not found')
                }

                //Get the resized Widget
                var widget = this.widgets[widgetIndex];
                let newCol = Number.parseInt(tile.getAttribute('col'), 10);
                let newRow = Number.parseInt(tile.getAttribute('row'), 10);
                let newHeight = Number.parseInt(tile.getAttribute('height'), 10);
                let newWidth = Number.parseInt(tile.getAttribute('width'), 10);

                //add change to historya
                this._addtoHistory({
                    type: 'resize',
                    widget: widget.id,
                    from: {
                        width: widget.width,
                        height: widget.height,
                        col: widget.col,
                        row: widget.row
                    },
                    to: {
                        width: newWidth,
                        height: newHeight,
                        col: newCol,
                        row: newRow
                    }
                });

                // set its new positon and size
                widget.col = newCol;
                widget.row = newRow;
                widget.height = newHeight;
                widget.width = newWidth;
                widget.shape = widget.shape || {};
                widget.shape[this.screenType.name] = Object.assign({}, this._selectWidgetShape(widget, this.screenType), {
                    col: widget.col,
                    row: widget.row,
                    width: widget.width,
                    height: widget.height
                });
                this.setupBoardToViewport();
            }

            _clone(event) {
                let widgetId = event.detail.id;
                var widgetIndex = this.widgets.findIndex((widget, index) => {
                    return widget.id === widgetId
                });

                let widget = this.copy(this.widgets[widgetIndex]);
                this.addWidget(widget);
            }

            _copy(event) {
                let widgetId = event.detail.id;
                let widgetIndex = this.widgets.findIndex((widget, index) => {
                    return widget.id === widgetId
                });

                let widget = JSON.stringify(this.widgets[widgetIndex]);
                window.localStorage.setItem('abas.dashboard.widgetClipboard', widget);
            }

            _paste(event) {
                let widgetText = window.localStorage.getItem('abas.dashboard.widgetClipboard');
                if (!widgetText) { return }
                try {
                    let widget = JSON.parse(widgetText);
                    // TODO: validate widget
                    this.addWidget(widget);
                } catch (error) {
                    this.LOG(error);
                }
            }


            //PUBLIC
            /**
             * Changes the size of the dashboard to the selected size for previewing diffent sceen sizes
             */
            preview(preview) {
                preview = preview || "";
                let sizes = ["desktopSmall", "tabletPortrait", "tabletLandscape", "smartphonePortrait", "smartphoneLandscape"];
                if (!sizes.includes(preview) && preview.length > 0) {
                    throw new Error('Unknown Preview ' + preview);
                }

                sizes
                    .filter(size => {
                        return size !== preview;
                    })
                    .forEach(size => {
                        this.classList.remove(size);
                    });
                if (preview) {
                    this.classList.add(preview);
                }
                this._resize();
            }

            /**
             * Switch mode to View
             */
            goToViewMode() {
                const editMode = new CustomEvent('edit-mode', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        editMode: false,
                        dashboard: this.id
                    }
                });
                this.dispatchEvent(editMode);
                this.set('editMode', false);
            }

            /**
             * Switch mode to Edit
             */
            goToEditMode() {
                const editMode = new CustomEvent('edit-mode', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        editMode: true,
                        dashboard: this.id
                    }
                });
                this.dispatchEvent(editMode);
                this.set('editMode', true);
            }

            /**
             * Export the Dashboard
             * @returns {Object} Dashboard
             */
            export() {
                return {
                    "id": this.id,
                    "title": this.title,
                    "widgets": this.widgets
                }
            }

            /**
             * Import a deep copy of supplied dashboard
             * @param {Object} dashboard A Dashboard
             * @param {Object[]} dashboard.widgets Widgets
             * @param {String} dashboard.id ID
             * @param {String} dashboard.title Title
             */
            import(dashboard) {

                // Validate the dashboard to import
                // throw error if not valid
                let validationResult = this.dashboardValidator.validateDashboard(dashboard)
                if (!validationResult.valid) {
                    throw new Error(validationResult.error);
                }

                // Post validation
                // setup this component with the new dashboard
                // Decouple references with other sub systems
                let board2import = JSON.parse(JSON.stringify(dashboard));
                // upgrade widgets on the fly
                let widgets = this.upgradeWidgets(dashboard.widgets);
                for (let node in this.widgetNodes) {
                    this.widgetNodes[node].remove();
                    delete this.widgetNodes[node];
                }
                // Setup component
                this.set('widgets', widgets);
                this.set('title', board2import.title);
                this.set('id', board2import.id);

                this.setupBoardToViewport();
            }

            /**
             * Copy the input widgets and to upgrade them
             * This function checks the widget library for newer versions.
             * If a newer widget version was found the function will
             * merge the widget attributes.
             * New attributes will be added while existing attributes and their
             * earlier configured values stay untouched.
             * The input widgets stay untouched.
             *
             * @return an array of all widgets
             *
             * Check if upgrading makes sense in webUI, editor and CLI scenario.
             */
            upgradeWidgets(widgets) {
                let out = [];
                widgets.forEach(dbWidget => {
                    let libWidget = this._widgetLibrary.find((widget) => {
                        return widget.name === dbWidget.name
                    });
                    if (libWidget) {
                        let currentVersion = dbWidget.version || '0'
                        let libVersion = libWidget.version || '0'
                        if (libVersion > currentVersion) {
                            // Upgrade. copy new attribute but do not overwrite the old ones
                            let mergedAttr = Object.assign({}, libWidget.attr, dbWidget.attr);
                            dbWidget.attr = mergedAttr;
                            // Overwrite widget version
                            dbWidget.version = libWidget.version
                        }
                    }
                    out.push(dbWidget);
                });
                return out;
            }

            /**
             * Creates a new dashboard
             * @returns {Object} the new Dashboard
             */
            createDashboard() {
                this.import({
                    widgets: [],
                    title: "",
                    id: this.generateUuid()
                });
                return this.export();
            }

            /**
             * Undo changes to the dashboard currently in view.
             * The function pops an element from the editing history
             * and applies this past state.
             * To enable "redo" the past state is pushed to another list called _future.
             * After all dashboard change is triggered 
             */
            undo() {
                let past = this._history.pop();
                if (!past) {
                    throw new Error('Dashboard has no history to go back to');
                }
                let widgetIndex;
                let widget;
                this._future.push(past);
                switch (past.type) {
                    case 'resize':
                    case 'move':
                        widgetIndex = this.widgets.findIndex((widget, index) => {
                            return widget.id === past.widget
                        });

                        //Widget is not part of this Dashboard
                        if (widgetIndex === -1) {
                            throw new Error('widget not found')
                        }

                        widget = this.widgets[widgetIndex];
                        widget.col = past.from.col;
                        widget.row = past.from.row;
                        widget.width = past.from.width;
                        widget.height = past.from.height;
                        widget.shape = widget.shape || {};
                        widget.shape[this.screenType.name] = Object.assign(this._selectWidgetShape(widget, this.screenType), {
                            col: past.from.col,
                            row: past.from.row,
                            width: past.from.width,
                            height: past.from.height
                        });

                        let widgetNode = this.getWidgetNode(widget.id);
                        widgetNode.setAttribute('col', past.from.col)
                        widgetNode.setAttribute('row', past.from.row)
                        widgetNode.setAttribute('height', past.from.height)
                        widgetNode.setAttribute('width', past.from.width)
                        break;
                    case 'add':
                        widgetIndex = this.widgets.findIndex(entry => {
                            return entry.id === past.widget.id
                        })
                        this.splice('widgets', widgetIndex, 1);
                        break;
                    case 'remove':
                        this.push('widgets', past.widget);
                        break;
                    case 'attributeUpdate':
                        widgetIndex = this.widgets.findIndex(entry => {
                            return entry.id === past.widgetID
                        })
                        widget = this.getWidgetNode(past.widgetID);
                        //TODO this is madnes need to check if is attr ..
                        past.oldAttributes.forEach(attribute => {
                            if (attribute.name == 'title') {
                                this.widgets[widgetIndex].title = attribute.value;
                            } else {
                                this.widgets[widgetIndex][attribute.name] = attribute.value;
                            }
                            widget[attribute.name] = attribute.value;
                            //widget.setAttribute(attribute.name, attribute.value);
                        });

                        break;
                }
                // this._dashboardChanged();
            }

            /**
             * Undo changes to the dashboard currently in view.
             * The function pops an element from the undo history
             * and applies this undone state.
             * To enable "undo" the undone state is pushed to another list called _history.
             * After all dashboard change is triggered 
             */
            redo() {
                let future = this._future.pop();
                if (!future) {
                    throw new Error('Dashboard has nothing to redo');
                }
                let widgetIndex;
                let widget;
                this._history.push(future);
                switch (future.type) {
                    case 'resize':
                    case 'move':
                        widgetIndex = this.widgets.findIndex((widget, index) => {
                            return widget.id === future.widget
                        });

                        //Widget is not part of this Dashboard
                        if (widgetIndex === -1) {
                            throw Error('widget not found');
                        }

                        widget = this.widgets[widgetIndex];
                        widget.col = future.to.col;
                        widget.row = future.to.row;
                        widget.width = future.to.width;
                        widget.height = future.to.height;
                        widget.shape = widget.shape || {};
                        widget.shape[this.screenType.name] = Object.assign(this._selectWidgetShape(widget, this.screenType), {
                            col: future.to.col,
                            row: future.to.row,
                            width: future.to.width,
                            height: future.to.height
                        });

                        let widgetNode = this.getWidgetNode(widget.id);
                        widgetNode.setAttribute('col', future.to.col)
                        widgetNode.setAttribute('row', future.to.row)
                        widgetNode.setAttribute('height', future.to.height)
                        widgetNode.setAttribute('width', future.to.width)
                        break;
                    case 'add':
                        widgetIndex = this.widgets.findIndex(entry => {
                            return entry.id === future.widget.id
                        })
                        this.push('widgets', future.widget);
                        break;
                    case 'remove':
                        widgetIndex = this.widgets.findIndex(entry => {
                            return entry.id === future.widget.id
                        })
                        this.splice('widgets', widgetIndex, 1);
                        break;
                    case 'attributeUpdate':
                        widgetIndex = this.widgets.findIndex(entry => {
                            return entry.id === future.widgetID
                        })
                        widget = this.getWidgetNode(future.widgetID);
                        future.attributes.forEach(attribute => {
                            if (attribute.name == 'title') {
                                this.widgets[widgetIndex].title = attribute.value;
                            } else {
                                this.widgets[widgetIndex][attribute.name] = attribute.value;
                            }
                            widget[attribute.name] = attribute.value;
                        });
                        break;
                }
            }

            //PRIVATE
            async _render(widget) {
                //Create HTML Node
                let widgetNode = document.createElement(widget.name);
                //Add event Listeners to it
                widgetNode.addEventListener('update-attributes', event => {
                    let oldAttributes = [];
                    event.detail.attributes.forEach(a => {
                        if (a.name === 'title') {
                            oldAttributes.push({
                                name: 'title',
                                value: this.copy(widget.title)
                            });
                            widget.title = a.value
                        } else {
                            oldAttributes.push({
                                name: a.name,
                                value: widget.attr[a.name] !== undefined ? this.copy(
                                    widget.attr[a.name]) : null
                            });
                            widget.attr[a.name] = a.value
                        }
                    });
                    // this._dashboardChanged();
                    event.detail.oldAttributes = oldAttributes;
                    return event;
                });
                //Create and append Resizers
                var resizers = this._createResizers();
                widgetNode.appendChild(resizers[0]);
                widgetNode.appendChild(resizers[1]);
                this._setAttributes(widgetNode, widget);
                try {
                    widgetNode.set('editMode', this.editMode);
                } catch (error) {
                    console.log("Error setting editMode", error);
                    widgetNode.setAttribute("editMode", this.editMode);
                }
                this.widgetNodes[widget.id] = widgetNode;

                return {
                    widget: widget,
                    node: widgetNode
                }
            }

            /**
             * Render and import a widget
             * @param {Object} Widget
             *
             * @event aba-dashboard-widget-import-error
             */
            async _renderWidget(widget) {
                return new Promise((resolve, reject) => {
                    if (!!customElements.get(widget.name) || !widget.path) {
                        // widget sourcecode was already loaded
                        resolve(this._render(widget));
                    } else {
                        // if not (= first loading, empty cache, ...)
                        // -> import it and then render it
                        Polymer.importHref(widget.path, () => {
                            resolve(this._render(widget));
                        }, (error) => {
                            console.log(`Cannot import widget ${widget.name}. Path ${widget.path}.`)
                            console.log(`Replacing with dummy widget...`)
                            let dummyWidget = Object.assign({}, widget);
                            dummyWidget.originalWidget = widget;
                            dummyWidget.path = "bower_components/aba-dashboard/abas-dummy-widget.html";
                            dummyWidget.name = "abas-dummy-widget";
                            resolve(this._render(dummyWidget));

                            // let importError = new CustomEvent(
                            //     'aba-dashboard-widget-import-error', {
                            //     bubbles: true,
                            //     composed: true
                            // });
                            // this.dispatchEvent(importError);
                            //reject(new ReferenceError(`Cannot import widget ${widget.name}`));
                        }, false);
                    }
                });
            }

            /**
             * Creates a Matrix which shows which tiles on the Dashboard are taken and free
             * @param {Object[]} Widgets The widgets to place on the matrix
             * @return {Array} The Matrix
             */
            _makeMatrix() {
                let shapes = this.widgets.map(widget => {
                    // Use the currently displayed shape from the widget object directly
                    return this._selectWidgetShape(widget);
                });
                let matrix = this.matrixManager.makeMatrix(shapes, this._colCount);
                // this.set('_rowCount', matrix.rowCount);
                return matrix;
            }

            /* widget shape must exist */
            static makeMatrixForScreenType(shapes, colCount, matrixManager) {
                return matrixManager.makeMatrix(shapes, colCount);
            }

            /**
             * Writes given matrix to console
             * @param {Array} Matrix
             */
            _logMatrix(matrix) {
                var out = '--------------- Dashboard ------------------\n';
                matrix.forEach(row => {
                    var text = row.reduce((acc, value) => {
                        return acc + `${value}, `
                    }, '');
                    out += `${text}\n`
                });
                out += '--------------------------------------------\n';
                console.log(out)
            }

            /**
             * add item to history for later undo
             * @param {{type: String}} present 
             */
            _addtoHistory(present) {
                this._history.push(present);
                //changing the present resets future
                this._future = [];
            }

            /**
             * Add Widget to the Dashboard.
             * @param {Object} Widget
             */
            addWidget(widget) {
                // Create an instance/deep copy of that widget blueprint
                let newWidget = Object.assign({}, widget, {
                    id: this.generateUuid(),
                    shape: {},
                });

                // Calculate free slots for all screen types
                this.screenTypes.forEach((screenType) => {

                    // let colsForSize = this.screenTypes[screenType];
                    // let _currentCols = this._colCount;


                    // TODO: is this really good or should we just assert that
                    // shapes are well defined by the widget description?
                    //fall back to 1x1 shape if not defined
                    let shape = widget.shape[screenType.name];
                    shape = (shape) ? shape : {
                        width: 1,
                        height: 1
                    }
                    // Get shapes of all widgets on this board screenType
                    let shapesForSize = this.widgets.map(widget => {
                        return widget['shape'][screenType.name];
                    });
                    let matrix = AbaDashboard.makeMatrixForScreenType(shapesForSize, screenType.colCount, this.matrixManager)
                    let slot = AbaDashboard._findEmptySlot({
                        widgetWidth: shape.width,
                        widgetHeight: shape.height,
                        matrix: matrix
                    });
                    newWidget.shape[screenType.name] = Object.assign({}, slot, {
                        height: shape.height,
                        width: shape.width
                    });
                })

                // Set current shape
                let visibleShape = this._selectWidgetShape(newWidget);
                newWidget.width = visibleShape.width;
                newWidget.height = visibleShape.height;
                newWidget.col = visibleShape.col;
                newWidget.row = visibleShape.row;
                newWidget.screenSize = this.screenType.name

                this.push('widgets', newWidget)
                this._addtoHistory({
                    type: 'add',
                    widget: this.copy(newWidget)
                });

                // This return value is almost for easier testing
                // Since the widget.id is generated here
                // in tests its uncomfortable to retrieve after adding
                return newWidget
            }

            _selectScreenType() {
                let availableWidth = this._getWidth();

                // Since this.screenTypes is ordered from wide to narrow
                // and Array.find finds first fit this will return best fit
                let bestFit = this.screenTypes.find(st => {
                    return st.lowerThreshold <= availableWidth
                })

                if (!bestFit) {
                    this.LOG('suitable screentype count not found.')
                    return this.screenTypes[0]
                }

                //this.LOG(`current screen type is ${bestFit.name}`)
                return bestFit
            }

            /**
             * Remove Widget from Dashboard
             * @param {String} WidgetID The ID of the Widget which will be deleted
             */
            removeWidget(widgetID) {
                let widgetIndex = this.widgets.findIndex(entry => {
                    return entry.id === widgetID
                });
                if (widgetIndex >= 0) {
                    this._addtoHistory({
                        type: 'remove',
                        widget: this.copy(this.widgets[widgetIndex])
                    });
                    this.splice('widgets', widgetIndex, 1);
                    delete this.widgetNodes[widgetID];
                } else {
                    throw new Error(`Cannot remove Widget: ${widgetID}. Widget is not part of this Dashboard`);
                }
            }

            /**
             * Remove All Widgets from Dashboard
             */
            removeAllWidgets() {
                this.splice('widgets', 0, this.widgets.length);
            }

            static _findEmptySlot({ widgetWidth: widgetWidth, widgetHeight: widgetHeight, matrix: matrix }) {
                //Find free spot
                //Iterate over Matrix

                for (var i = 0; i < matrix.rowCount; i++) {
                    for (var m = 0; m < matrix.colCount; m++) {
                        //matrix[i][m] === 0 this spot is free
                        //m + widgetToPosition.width < colCount and there is enough space
                        if (matrix[i][m] === 0 && m + widgetWidth <= matrix.colCount) {
                            var free = true;
                            //Check if this spot is completly free and widget will fit
                            for (var n = i; n < (widgetHeight + i); n++) {
                                for (var b = m; b < (widgetWidth + m); b++) {
                                    try {
                                        //If matrix is 1 at position it is not free here
                                        if (matrix[n][b] === 1) {
                                            free = false;
                                        }
                                    } catch (e) {
                                        //you reached the end of the dashboard there wont be any free space so board size must be increased see below
                                    }
                                }
                            }
                            //No complains? found spot!
                            if (free) {
                                return {
                                    col: m,
                                    row: i
                                }
                            }
                        }
                    }
                }
                // console.log(matrix);
                // console.log("rowCount" + matrix.rowCount);
                // console.log("height" + widgetHeight);
                // console.log("width" + widgetWidth);
                return {
                    col: 0,
                    row: matrix.rowCount
                }
            }

            _updateGridRowCount() {
                let rowCount = 1;

                this.widgets.forEach(widget => {
                    rowCount = Math.max(rowCount, (widget.shape[this.screenType.name].row + widget.shape[this.screenType.name].height))
                });

                this.set('_rowCount', rowCount);
            }

            //OBSERVERS

            /**
             * Add or Remove widgets
             */
            _widgetsChanged(changeRecords) {
                if (typeof changeRecords === 'undefined' && this.widgets && this.widgets.length > 0) {
                    this.hide();
                    this._makePlaceHolders();
                    /**
                     * Initial board loading
                     */
                    let fragment = new DocumentFragment();
                    let promises = [];
                    this.widgets.forEach(widget => {
                        promises.push(this._renderWidget(widget).then((renderResult) => {
                            this.grid.querySelector(`#placeholder-${renderResult.widget.id}`).remove()
                            fragment.appendChild(renderResult.node)
                        }).catch((error) => {
                            console.log("Ohoh. Something went really really wrong.", error)
                            let placeholder = this.grid.querySelector(`#placeholder-${widget.id}`)
                            if (!placeholder) { return; }
                            placeholder.innerHTML = `
                                <div class="placeholder-error">
                                    <div class="status">404</div>
                                    <div class="message">This widget is not part of your collection</div>
                                </div>
                            `
                        }));
                    });
                    Promise.all(promises).finally(() => {
                        this.grid.appendChild(fragment);
                        this.grid.computeStyles()
                        Polymer.RenderStatus.afterNextRender(this, () => {
                            this.show();
                            // Tell the world that everything is ready
                            let renderedEvent = new CustomEvent('abas-dashboard-rendered', { composed: true, bubbles: true })
                            this.dispatchEvent(renderedEvent)
                        });
                    });

                } else if (changeRecords !== undefined && typeof changeRecords.indexSplices !== 'undefined') {
                    // branch acts when widgets are added or removed
                    this._updateGridRowCount();

                    changeRecords.indexSplices.forEach((changeRecord, index) => {
                        // console.log(`[Change ${index}] ${changeRecord.addedCount} additions, ${changeRecord.removed.length} deletions`);
                        // handle removed items
                        changeRecord.removed.forEach(widget => {
                            var widgetNode = this.getWidgetNode(widget.id);
                            if (!widgetNode) {
                                return
                            }
                            //Remove calls destructor of widget
                            Polymer.RenderStatus.afterNextRender(this, () => {
                                widgetNode.remove();
                            });
                        })
                        // handle additions
                        let added = [];
                        for (var i = 0; i < changeRecord.addedCount; i++) {
                            var index = changeRecord.index + i;
                            added.push(this._renderWidget(changeRecord.object[index]).then((renderResult) => {
                                this.grid.appendChild(renderResult.node)
                                return true
                            }));
                        }
                        Promise.all(added).then((renderOk) => {
                            this.grid.computeStyles();
                        });
                    });
                }
            }

            hide() {
                this.grid.style.display = 'none';
                this.$.spinner.style.display = 'block';
            }

            show() {
                this.grid.style.display = 'block';
                this.$.spinner.style.display = 'none';
            }

            _resize(_resizeEvent) {
                this._resizeDebouncer = Polymer.Debouncer.debounce(
                    this._resizeDebouncer,
                    Polymer.Async.timeOut.after(10),
                    () => {
                        this._resizeDebouncer.cancel();
                        this.setupBoardToViewport();
                    });
            }

            _arrangeWidgetForCurrentShape(widget) {
                return new Promise(resolve => {
                    let shape = this._selectWidgetShape(widget, this.screenType);
                    //if no shape or does not fit on dashb
                    if (!this._shapesExist([widget], this.screenType) || shape.col + shape.width > this._colCount) {
                        //get shapes but not the ones trying to place
                        let shapesForSize = this.widgets.map(w => {
                            return w['shape'][this.screenType.name];
                        });
                        let matrix = AbaDashboard.makeMatrixForScreenType(shapesForSize, this._colCount, this.matrixManager);
                        let shape = this._selectWidgetShape(widget, this.screenType);
                        //check for constaints
                        //shape.width = shape.width > 0 && (shape.col - 1) + shape.width < this._colCount ? shape.width : 1;
                        //shape.height = shape.height > 0 ? shape.height : 1;
                        let slot = AbaDashboard._findEmptySlot({
                            widgetWidth: shape.width,
                            widgetHeight: shape.height,
                            matrix: matrix
                        });
                        widget.shape[this.screenType.name] = Object.assign({}, slot, {
                            height: shape.height,
                            width: shape.width
                        });
                        shape = widget.shape[this.screenType.name];
                    }

                    widget.col = shape.col;
                    widget.row = shape.row;
                    widget.width = shape.width;
                    widget.height = shape.height;
                    widget.screenSize = this.screenType.name
                    // apply changes to the widget node
                    let widgetNode = this.getWidgetNode(widget.id);
                    //TODO here is something strange
                    // if (widgetNode !== undefined) {
                    this._setAttributes(widgetNode, widget);
                    resolve();
                    // }
                })
            }

            setupBoardToViewport(secondRun = false) {
                //this.LOG('setupBoardToViewport');
                let newScreenType = this._selectScreenType();
                this.set('screenType', newScreenType);
                this.set('_colCount', newScreenType.colCount);
                let width = this.clientWidth - 12; /*padding aba-dashboard*/;
                let cellWid = (width - ((this._colCount - 1 /*cell margin is only between widgets*/) * this._cellMargin)) / this._colCount;
                this.set('_cellSizeWidth', cellWid);
                this.set('_cellSizeHeight', cellWid);
                let arraged = [];
                this.widgets.forEach(widget => {
                    arraged.push(this._arrangeWidgetForCurrentShape(widget))
                });
                Promise.all(arraged).then(() => {
                    this._updateGridRowCount();
                    this.grid.computeStyles();
                })
            }

            _displayModeChanged(newMode) {
                if (newMode !== undefined) {
                    let resizers = this.shadowRoot.querySelectorAll('[resize]');
                    if (newMode) {
                        shortcut.add("Ctrl+V", this._boundPasteWidget);
                        this.grid.setAttribute('draggable', true);
                        this.grid.setAttribute('resizable', true);
                        resizers.forEach(function (resizer) {
                            resizer.classList.remove('hidden');
                        });
                    } else {
                        shortcut.remove("Ctrl+V"); 
                        this.grid.removeAttribute('draggable');
                        this.grid.removeAttribute('resizable');
                        resizers.forEach(function (resizer) {
                            resizer.classList.add('hidden');
                        });
                    }

                    if (this.widgets) {
                        this.widgets.forEach(widget => {
                            let _widgetNode = this.getWidgetNode(widget.id);
                            if (_widgetNode !== undefined) {
                                _widgetNode.set('editMode', newMode)
                            }
                        });
                    }
                }
            }

            /**
             * load a board description from an url and import that descritpion
             * on recieve
             */
            _loadBoard(url) {
                return fetch(url, {
                    credentials: 'include'
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Fetching board description failed')
                    }
                    return response.json()
                }).then(data => {
                    this.import(data)
                }).catch(error => {
                    throw new Error('Fetching board description failed with exception ' + error)
                });
            }

            _getWidth() {
                let width = this.getBoundingClientRect().width;
                width = width > screen.availWidth || width == 0 ? screen.availWidth : width;
                return width;
            }
            _getHeight() {
                let height = this.getBoundingClientRect().height;
                height = height > screen.availHeight || height == 0 ? screen.availHeight : height;
                return height;
            }

            _makePlaceHolders() {
                // Clean/Remove placeholders currently displayed
                this.shadowRoot.querySelectorAll('.placeholder').forEach(p => {
                    p.remove();
                })

                // test if possible
                if (!this._shapesExist(this.widgets, this.screenType)) {
                    this.LOG('cannot do placeholders if shapes do not exist')
                    return [];
                }

                let placeHolders = [];
                this.widgets.forEach(widget => {
                    let div = document.createElement('div');
                    div.classList.add('tile');
                    div.classList.add('placeholder');
                    let shape = this._selectWidgetShape(widget);
                    div.setAttribute('row', shape.row);
                    div.setAttribute('col', shape.col);
                    div.setAttribute('height', shape.height);
                    div.setAttribute('width', shape.width);
                    div.setAttribute('id', `placeholder-${widget.id}`);
                    placeHolders.push(div);

                    this.grid.appendChild(div)
                });

                return placeHolders;
            }

            /**
             * todo check if widgets meet standart???
             * 
             * Return widget shape for current screenType 
             */
            _selectWidgetShape(widget) {
                try {
                    let typeName = this.screenType.name
                    return {
                        width: widget.shape[typeName].width,
                        height: widget.shape[typeName].height,
                        col: widget.shape[typeName].col,
                        row: widget.shape[typeName].row
                    }
                } catch (e) {
                    return {}
                }
            }

            _shapesExist(widgets, screenType) {
                let widgetWithoutShapeIndex = widgets.findIndex((w) => {
                    return typeof w.shape[screenType.name] === 'undefined' ||
                        typeof w.shape[screenType.name].width === 'undefined' ||
                        typeof w.shape[screenType.name].height === 'undefined' ||
                        typeof w.shape[screenType.name].col === 'undefined' ||
                        typeof w.shape[screenType.name].row === 'undefined';
                })
                return (widgetWithoutShapeIndex < 0)
            }
        }
        customElements.define(AbaDashboard.is, AbaDashboard);
    </script>
</dom-module>