<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<dom-module id="abas-dummy-widget">
    <template>
        <style include="abas-widget-style">
            :host {
                display: block;
            }

            [slot="content"] {
                cursor: auto;
                background: var(--loading-placeholder-color-1, #E0E0E0);
            }

            .placeholder-error {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                @apply --abas-font-display1;
                text-shadow: 2px 2px #ffffff;
                color: #666;
                text-align: center;
                /* margin-top: 25%; */
            }

            .placeholder-error .message {
                font-size: medium;
            }

            table#dataTable {
                width: 100%;
                border-collapse: collapse;
                -moz-user-select: text;
                -khtml-user-select: text;
                -webkit-user-select: text;
                -ms-user-select: text;
                user-select: text;
            }

            table#dataTable thead tr th {
                background: white;
                color: #777d81;
                font-size: 12px;
                white-space: nowrap;
                font-weight: normal;
                text-decoration: underline;
                padding: 0px 8px 2px;
            }

            table#dataTable tbody tr td {
                border-width: 0px 0 0px 0;
                border-style: solid;
                border-color: #cccccc;
                font-size: 14px;
                color: #2a3539;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100px;
            }

            table#dataTable tbody tr td {
                border-right-width: 1px;
                border-left-width: 1px;
                padding: 6px 8px;
            }

            table#dataTable tbody tr:last-of-type td {
                border-bottom-width: 1px;
            }

            table#dataTable tbody tr:first-child td {
                border-top-width: 1px;
            }

            table#dataTable tbody tr:nth-child(even) td {
                background: #f0f4f7;
            }

            table#dataTable tbody tr:nth-child(odd) td {
                background: #ffffff;
            }

            table#dataTable tbody tr:hover td {
                background: #e4f5f2;
            }
        </style>

        <aba-widget title="">
            <div slot="content">
                <div class="placeholder-error" style="background: #E0E0E0;">
                    <div class="status">404</div>
                    <div class="message">
                        [[originalWidget.name]]
                        <br />
                        [[localize('sorryNotAvailable')]]
                    </div>
                    <!-- edit mode -->
                    <template is="dom-if" if="[[editMode]]">
                        <abas-function-button icon="trashAlt" on-tap="_deleteWidget">[[localize('remove')]]
                        </abas-function-button>
                    </template>
                </div>
            </div>

            <div slot="settingsForm">
                <template is="dom-if" if="[[editMode]]">
                    <table id="dataTable">
                        <tr>
                            <td><b>[[localize('widgetName')]]</b></td>
                            <td>[[originalWidget.name]]</td>
                        </tr>
                        <tr>
                            <td><b>[[localize('version')]]</b></td>
                            <td>[[originalWidget.version]]</td>
                        </tr>
                        <tr>
                            <td><b>[[localize('author')]]</b></td>
                            <td>[[originalWidget.author]]</td>
                        </tr>
                        <tr>
                            <td><b>[[localize('description')]]</b></td>
                            <td>[[originalWidget.description]]</td>
                        </tr>
                    </table>
                </template>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbasDummyWidget extends abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {
            constructor() {
                super();
                this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
            }
            static get is() { return 'abas-dummy-widget' }
            static get properties() {
                return {
                    originalWidget: { type: Object, value: {} }
                };
            }

            static get observers() {
                return []
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }
            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener('settings-closed', this._boundfireUpdateAttribute);
            }

            _fireUpdateAttribute() {
                this.fireAttributesUpdate([
                    {
                        name: 'company',
                        value: this.company
                    },
                    {
                        name: 'originalWidget',
                        value: this.originalWidget
                    }
                ])
            }

            _deleteWidget() {
                let removeWidgetEvent = new CustomEvent('remove-widget', {
                    detail: { id: this.id },
                    bubbles: true,
                    composed: true
                });
                this.dispatchEvent(removeWidgetEvent);
            }

        }
        customElements.define(AbasDummyWidget.is, AbasDummyWidget);
    </script>
</dom-module>