<link rel="import" href="../../aba-js-imports/lodash-import.html" />
<script type="text/javascript" src="../../validator-js/validator.min.js"></script>
<script>
    class DashboardValidator {


        constructor() { }

        /**
         * Validate a dashboard object
         * and either return true or false
         * @param {Object} dashboard
         * @return {Object}  {valid: boolean, error: string}
         */
        validateDashboard(dashboard) {
            // Would be a nice addition to also validate the json scheme

            if (!_.isObject(dashboard)) {
                return this._createValidationResult(false, -1, 'dashboard is not an object')
            }

            if (!_.isString(dashboard.title)) {
                return this._createValidationResult(false, -2, 'title is not string')
            }

            if (!_.isString(dashboard.id)) {
                return this._createValidationResult(false, -3, 'id is not string')
            }

            if (!_.isArray(dashboard.widgets)) {
                return this._createValidationResult(false, -5, 'widgets is not an array')
            }
            return this._createValidationResult(true)
        }

        _createValidationResult(valid, code = 0, error = '') {
            return {
                valid: valid,
                hasErrors: !valid,
                error: error,
                code: code
            }
        }
    }
</script>